<h1><%= @user.username %>'s Feed</h1>

<% if @feed_photos.empty? %>
  <p>No photos yet from people <%= @user.username %> is following.</p>
<% end %>

<% @feed_photos.each do |photo| %>
  <div style="margin-bottom: 20px;">
    <% if photo.image.attached? %>
      <%= image_tag photo.image, style: "max-width: 300px;" %>
    <% end %>

    <p><strong>Caption:</strong> <%= photo.caption %></p>
    <p><strong>Posted by:</strong> <%= link_to photo.owner.username, user_profile_path(photo.owner.username) %></p>
    <p><strong>Posted:</strong> <%= time_ago_in_words(photo.created_at) %> ago</p>
    <%= link_to "View Photo", photo_path(photo) %>
  </div>
<% end %>
