<table>
     <tr>
       <th>Username</th>
       <th>Private</th>
       <% if user_signed_in? %><th>Action</th><% end %>
     </tr>

     <% @users.each do |user| %>
     <tr>
       <td><%= user.username %></td>
       <td><%= user.private ? "Yes" : "No" %></td>

       <% if user_signed_in? %>
       <td>
         <% unless user == current_user %>
           <% fr = FollowRequest.where({
                :sender_id    => current_user.id,
                :recipient_id => user.id
              }).at(0) %>

           <% if fr.nil? %>
             <form action="/create_follow_request" method="post" style="display:inline">
               <input type="hidden" name="recipient_id" value="<%= user.id %>">
               <button>Follow</button>
             </form>
           <% elsif fr.status == "pending" %>
             Request sent
             <a href="/delete_follow_request/<%= fr.id %>">Cancel</a>
           <% else %>
             <a href="/delete_follow_request/<%= fr.id %>">Unfollow</a>
           <% end %>
         <% end %>
       </td>
       <% end %>
     </tr>
     <% end %>
   </table>
