<h1><%= @the_user.username %>'s Profile</h1>
<p>Email: <%= @the_user.email %></p>
<p>Private: <%= @the_user.private ? "Yes" : "No" %></p>
<p>Comments count: <%= @the_user.comments.count %></p>
<p>Likes count: <%= @the_user.likes.count %></p>

<h2>Photos</h2>
<% @the_user.photos.each do |photo| %>
  <div>
    <a href="/photos/<%= photo.id %>">
      <img src="<%= photo.image %>" />
    </a>
    <p><%= photo.caption %></p>
  </div>
<% end %>

<a href="/users">Back to Users</a>
