<h1>Edit Photo</h1>

<%= form_with model: @photo, local: true do |form| %>
  <div>
    <%= form.label :image, "Replace Image" %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </div>

  <div>
    <%= form.submit "Update Photo" %>
  </div>
<% end %>
