<h1>All public photos</h1>

<%= form_with url: photos_path, method: :post, local: true, html: { enctype: "multipart/form-data" } do |form| %>
  <div>
    <%= form.label :image, "Image" %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :caption, "Caption" %><br>
    <%= form.text_area :caption %>
  </div>

  <div>
    <%= form.submit "Add photo" %>
  </div>
<% end %>

<% @photos.each do |photo| %>
  <div>
    <%= image_tag(photo.image) if photo.image.present? %>
    <p><%= photo.caption %></p>
    <p><%= link_to "Show", photo_path(photo) %></p>
  </div>
<% end %>
