<h1>Photo Details</h1>

<% if @photo.image.attached? %>
  <%= image_tag url_for(@photo.image), alt: "Photo", style: "max-width: 100%; height: auto;" %>
<% end %>

<p><strong>Caption:</strong> <%= @photo.caption %></p>
<p><strong>Owner:</strong> <%= link_to @photo.owner.username, user_profile_path(@photo.owner.username) %></p>
<p><strong>Comments:</strong> <%= @photo.comments.count %></p>
<p><strong>Likes:</strong> <%= @photo.likes.count %></p>
<p><strong>Posted:</strong> <%= time_ago_in_words(@photo.created_at) %> ago</p>

<hr>

<h2>Comments</h2>
<ul>
  <% @photo.comments.each do |comment| %>
    <li>
      <strong><%= comment.author.username %>:</strong>
      <%= comment.body %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? && current_user == @photo.owner %>
  <%= link_to "Edit Photo", edit_photo_path(@photo) %> |
  <%= link_to "Delete this photo", photo_path(@photo), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<hr>

<% if user_signed_in? %>
  <%= form_with model: Comment.new, url: comments_path, local: true do |form| %>
    <%= form.hidden_field :photo_id, value: @photo.id %>
    <p>
      <%= form.label :body, "Add a comment:" %><br>
      <%= form.text_area :body %>
    </p>
    <%= form.submit "Post Comment" %>
  <% end %>

  <% if @photo.likes.exists?(fan_id: current_user.id) %>
    <% like = @photo.likes.find_by(fan_id: current_user.id) %>
    <%= link_to "Unlike", like_path(like), method: :delete %>
  <% else %>
    <%= form_with model: Like.new, url: likes_path, local: true do |form| %>
      <%= form.hidden_field :photo_id, value: @photo.id %>
      <%= form.submit "Like this photo" %>
    <% end %>
  <% end %>
<% end %>
