<h1>Photo by <%= @the_photo.user.username %></h1>
<img src="<%= @the_photo.image.url %>" alt="Photo" />

<p><%= @the_photo.caption %></p>

<h2>Comments (<%= @the_photo.comments.count %>)</h2>
<% @the_photo.comments.each do |comment| %>
  <div>
    <p><strong><%= comment.user.username %></strong></p>
    <p><%= comment.content %></p>
  </div>
<% end %>
<form action="/comments/create" method="post" class="mb-3">
  <input type="hidden" name="photo_id" value="<%= @the_photo.id %>">
  <div class="input-group">
    <input name="body" type="text" class="form-control" placeholder="Add a comment...">
    <button class="btn btn-outline-secondary">Comment</button>
  </div>
</form>

<form action="/likes/create" method="post" class="mb-3">
  <input type="hidden" name="photo_id" value="<%= @the_photo.id %>">
  <button class="btn btn-outline-primary">Like (<%= @the_photo.likes.count %>)</button>
</form>

<a href="/photos" class="btn btn-link">Back to all photos</a>
