<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<% if @photo.image.present? %>
  <%= image_tag @photo.image %>
<% end %>

<p><strong><%= @photo.caption %></strong></p>

<p>
  Posted by <%= link_to @photo.owner.username, "/users/#{@photo.owner.username}" %>
</p>

<p>
  <%= pluralize(@photo.likes_count, "like") %> |
  <%= pluralize(@photo.comments_count, "comment") %>
</p>

<p>
  <%= @photo.created_at.strftime("Posted on %B %d, %Y at %l:%M %p") %>
</p>

<% if current_user == @photo.owner %>
  <p>
    <%= link_to "Edit", edit_photo_path(@photo) %> |
    <%= link_to "Delete this photo", photo_path(@photo), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
<% end %>

<hr>

<h3>Likes</h3>

<% if current_user.likes.exists?(photo_id: @photo.id) %>
  <% like = current_user.likes.find_by(photo_id: @photo.id) %>
  <%= link_to "Unlike", like_path(like), method: :delete %>
<% else %>
  <%= form_with(url: likes_path, method: :post) do %>
    <%= hidden_field_tag :photo_id, @photo.id %>
    <%= hidden_field_tag :fan_id, current_user.id %>
    <%= submit_tag "Like" %>
  <% end %>
<% end %>

<hr>

<h3>Comments</h3>

<ul>
  <% @photo.comments.each do |comment| %>
    <li>
      <strong><%= comment.author.username %>:</strong>
      <%= comment.body %>
    </li>
  <% end %>
</ul>

<%= form_with(url: comments_path, method: :post) do %>
  <%= hidden_field_tag :photo_id, @photo.id %>
  <%= hidden_field_tag :author_id, current_user.id %>
  <p>
    <label for="body">New comment:</label><br>
    <%= text_area_tag :body %>
  </p>
  <%= submit_tag "Add comment" %>
<% end %>

<hr>

<p>
  <%= link_to "Feed", user_feed_path(@photo.owner.username) %> |
  <%= link_to "Liked Photos", user_liked_photos_path(@photo.owner.username) %> |
  <%= link_to "Discover", user_discover_path(@photo.owner.username) %>
</p>
