
<% if @photo.image.present? %>
  <%= image_tag @photo.image %>
<% end %>

<p><%= @photo.caption %></p>
<p>Posted by <%= link_to @photo.owner.username, "/users/#{@photo.owner.username}" %></p>
<p><%= pluralize(@photo.likes_count, "like") %> | <%= pluralize(@photo.comments_count, "comment") %></p>
<p><%= @photo.created_at.strftime("Posted on %B %d, %Y at %l:%M %p") %></p>

<% if current_user == @photo.owner %>
  <%= link_to "Edit", edit_photo_path(@photo) %>
  <%= link_to "Delete this photo", photo_path(@photo), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<h3>Likes</h3>
<%= form_with url: likes_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :photo_id, value: @photo.id %>
  <%= form.hidden_field :fan_id, value: current_user.id %>
  <%= form.submit "Like" %>
<% end %>

<% if @photo.likes.exists?(fan_id: current_user.id) %>
  <% user_like = @photo.likes.find_by(fan_id: current_user.id) %>
  <%= link_to "Unlike", like_path(user_like), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>

<h3>Comments</h3>
<%= form_with url: comments_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :photo_id, value: @photo.id %>
  <%= form.hidden_field :author_id, value: current_user.id %>
  <%= form.text_area :body, placeholder: "Write a comment..." %>
  <%= form.submit "Post Comment" %>
<% end %>

<% @photo.comments.each do |comment| %>
  <p>
    <strong><%= comment.author.username %></strong>: <%= comment.body %>
  </p>
<% end %>

